:root {
	--rosewater: #ffb2b7;
    --rosewater-rgb: rgb(255, 178, 183);
    --rosewater-hsl: hsl(356, 100%, 85%);
    --rosewater-raw: 255, 178, 183;
	--flamingo: #ffb1c8;
    --flamingo-rgb: rgb(255, 177, 200);
    --flamingo-hsl: hsl(342, 100%, 85%);
    --flamingo-raw: 255, 177, 200;
	--pink: #f2b3e5;
    --pink-rgb: rgb(242, 179, 229);
    --pink-hsl: hsl(312, 71%, 83%);
    --pink-raw: 242, 179, 229;
	--mauve: #e6b6f2;
    --mauve-rgb: rgb(230, 182, 242);
    --mauve-hsl: hsl(288, 70%, 83%);
    --mauve-raw: 230, 182, 242;
	--red: #fcb0d6;
    --red-rgb: rgb(252, 176, 214);
    --red-hsl: hsl(330, 93%, 84%);
    --red-raw: 252, 176, 214;
	--maroon: #ffb0d1;
    --maroon-rgb: rgb(255, 176, 209);
    --maroon-hsl: hsl(335, 100%, 85%);
    --maroon-raw: 255, 176, 209;
	--peach: #ffb59d;
    --peach-rgb: rgb(255, 181, 157);
    --peach-hsl: hsl(14, 100%, 80%);
    --peach-raw: 255, 181, 157;
	--yellow: #f5bd6f;
    --yellow-rgb: rgb(245, 189, 111);
    --yellow-hsl: hsl(34, 87%, 69%);
    --yellow-raw: 245, 189, 111;
	--green: #b1d18a;
    --green-rgb: rgb(177, 209, 138);
    --green-hsl: hsl(87, 43%, 68%);
    --green-raw: 177, 209, 138;
	--teal: #80d4d7;
    --teal-rgb: rgb(128, 212, 215);
    --teal-hsl: hsl(182, 52%, 67%);
    --teal-raw: 128, 212, 215;
	--sky: #89d0ed;
    --sky-rgb: rgb(137, 208, 237);
    --sky-hsl: hsl(197, 73%, 73%);
    --sky-raw: 137, 208, 237;
	--sapphire: #97ccf9;
    --sapphire-rgb: rgb(151, 204, 249);
    --sapphire-hsl: hsl(207, 89%, 78%);
    --sapphire-raw: 151, 204, 249;
	--blue: #b8c4ff;
    --blue-rgb: rgb(184, 196, 255);
    --blue-hsl: hsl(229, 100%, 86%);
    --blue-raw: 184, 196, 255;
	--lavender: #c9beff;
    --lavender-rgb: rgb(201, 190, 255);
    --lavender-hsl: hsl(250, 100%, 87%);
    --lavender-raw: 201, 190, 255;
    --primary: #f2b3e6;
    --primary-rgb: rgb(242, 179, 230);
    --primary-hsl: hsl(311, 71%, 83%);
    --primary-raw: 242, 179, 230;
	--text: #ecdfe5;
	--text-rgb: rgb(236, 223, 229);
	--text-hsl: hsl(332, 25%, 90%);
	--text-raw: 236, 223, 229;
	--subtext1: #d1c2cb;
	--subtext1-rgb: rgb(209, 194, 203);
	--subtext1-hsl: hsl(324, 14%, 79%);
	--subtext1-raw: 209, 194, 203;
    --subtext0: #9a8d95;
	--subtext0-rgb: rgb(154, 141, 149);
	--subtext0-hsl: hsl(323, 6%, 58%);
	--subtext0-raw: 154, 141, 149;
	--overlay2: #663560;
	--overlay2-rgb: rgb(102, 53, 96);
	--overlay2-hsl: hsl(307, 32%, 30%);
	--overlay2-raw: 102, 53, 96;
	--overlay1: #554150;
	--overlay1-rgb: rgb(85, 65, 80);
	--overlay1-hsl: hsl(315, 13%, 29%);
	--overlay1-raw: 85, 65, 80;
	--overlay0: #4e444b;
	--overlay0-rgb: rgb(78, 68, 75);
	--overlay0-hsl: hsl(318, 7%, 29%);
	--overlay0-raw: 78, 68, 75;
    --surface2: #3a3337;
	--surface2-rgb: rgb(58, 51, 55);
	--surface2-hsl: hsl(326, 6%, 21%);
	--surface2-raw: 58, 51, 55;
    --surface1: #2f282d;
	--surface1-rgb: rgb(47, 40, 45);
	--surface1-hsl: hsl(317, 8%, 17%);
	--surface1-raw: 47, 40, 45;
    --surface0: #241e22;
	--surface0-rgb: rgb(36, 30, 34);
	--surface0-hsl: hsl(320, 9%, 13%);
	--surface0-raw: 36, 30, 34;
    --base: #201a1e;
	--base-rgb: rgb(32, 26, 30);
	--base-hsl: hsl(320, 10%, 11%);
	--base-raw: 32, 26, 30;
    --mantle: #171216;
	--mantle-rgb: rgb(23, 18, 22);
	--mantle-hsl: hsl(312, 12%, 8%);
	--mantle-raw: 23, 18, 22;
	--crust: #120d11;
	--crust-rgb: rgb(18, 13, 17);
	--crust-hsl: hsl(312, 16%, 6%);
	--crust-raw: 18, 13, 17;
}
