:root {
	--rosewater: #f5e0dc;
	--rosewater-rgb: rgb(245, 224, 220);
	--rosewater-hsl: hsl(10, 56%, 91%);
	--rosewater-raw: 245, 224, 220;
	--flamingo: #f2cdcd;
	--flamingo-rgb: rgb(242, 205, 205);
	--flamingo-hsl: hsl(0, 59%, 88%);
	--flamingo-raw: 242, 205, 205;
    --heartful: #f5c2f3;
    --heartful-rgb: rgb(245, 194, 243);
    --heartful-hsl: hsl(302, 72%, 86%);
    --heartful-raw: 245, 194, 243;
	--pink: #f5c2e7;
	--pink-rgb: rgb(245, 194, 231);
	--pink-hsl: hsl(316, 72%, 86%);
	--pink-raw: 245, 194, 231;
	--heartless: #eacde9;
	--heartless-rgb: rgb(234, 205, 233);
	--heartless-hsl: hsl(302, 41%, 86%);
	--heartless-raw: 234, 205, 233;
	--mauve: #cba6f7;
	--mauve-rgb: rgb(203, 166, 247);
	--mauve-hsl: hsl(267, 84%, 81%);
	--mauve-raw: 203, 166, 247;
	--red: #f38ba8;
	--red-rgb: rgb(243, 139, 168);
	--red-hsl: hsl(343, 81%, 75%);
	--red-raw: 243, 139, 168;
	--maroon: #eba0ac;
	--maroon-rgb: rgb(235, 160, 172);
	--maroon-hsl: hsl(350, 65%, 77%);
	--maroon-raw: 235, 160, 172;
	--peach: #fab387;
	--peach-rgb: rgb(250, 179, 135);
	--peach-hsl: hsl(23, 92%, 75%);
	--peach-raw: 250, 179, 135;
	--yellow: #f9e2af;
	--yellow-rgb: rgb(249, 226, 175);
	--yellow-hsl: hsl(41, 86%, 83%);
	--yellow-raw: 249, 226, 175;
	--green: #a6e3a1;
	--green-rgb: rgb(166, 227, 161);
	--green-hsl: hsl(115, 54%, 76%);
	--green-raw: 166, 227, 161;
	--teal: #94e2d5;
	--teal-rgb: rgb(148, 226, 213);
	--teal-hsl: hsl(170, 57%, 73%);
	--teal-raw: 148, 226, 213;
	--sky: #89dceb;
	--sky-rgb: rgb(137, 220, 235);
	--sky-hsl: hsl(189, 71%, 73%);
	--sky-raw: 137, 220, 235;
	--sapphire: #74c7ec;
	--sapphire-rgb: rgb(116, 199, 236);
	--sapphire-hsl: hsl(199, 76%, 69%);
	--sapphire-raw: 116, 199, 236;
	--blue: #89b4fa;
	--blue-rgb: rgb(137, 180, 250);
	--blue-hsl: hsl(217, 92%, 76%);
	--blue-raw: 137, 180, 250;
	--lavender: #b4befe;
	--lavender-rgb: rgb(180, 190, 254);
	--lavender-hsl: hsl(232, 97%, 85%);
	--lavender-raw: 180, 190, 254;
    /* Heartless; based on #8b7d8a */
    /* https://coolors.co/cab3c9-b59fb3-9d879b-816e80-726171-635463-4c404c-3e323e-2f242f-2b1f2b
    https://coolors.co/9d879b-816e80-726171-635463-4c404c-3e323e-2f242f-2b1f2b-221922-191519 */
	--heart-less-text: #c7b8c6;
	--heart-less-text-rgb: rgb(199, 184, 198);
	--heart-less-text-hsl: hsl(304, 12%, 75%);
	--heart-less-text-raw: 199, 184, 198;
	--heart-less-subtext1: #b2a4b1;
	--heart-less-subtext1-rgb: rgb(178, 164, 177);
	--heart-less-subtext1-hsl: hsl(304, 8%, 67%);
	--heart-less-subtext1-raw: 178, 164, 177;
	--heart-less-subtext0: #988a97;
	--heart-less-subtext0-rgb: rgb(152, 138, 151);
	--heart-less-subtext0-hsl: hsl(304, 6%, 57%);
	--heart-less-subtext0-raw: 152, 138, 151;
	--heart-less-overlay2: #7e727d;
	--heart-less-overlay2-rgb: rgb(126, 114, 125);
	--heart-less-overlay2-hsl: hsl(305, 5%, 47%);
	--heart-less-overlay2-raw: 126, 114, 125;
	--heart-less-overlay1: #6e636d;
	--heart-less-overlay1-rgb: rgb(110, 99, 109);
	--heart-less-overlay1-hsl: hsl(305, 5%, 41%);
	--heart-less-overlay1-raw: 110, 99, 109;
	--heart-less-overlay0: #615761;
	--heart-less-overlay0-rgb: rgb(97, 87, 97);
	--heart-less-overlay0-hsl: hsl(300, 5%, 36%);
	--heart-less-overlay0-raw: 97, 87, 97;
    --heart-less-surface2: #494149;
	--heart-less-surface2-rgb: rgb(73, 65, 73);
	--heart-less-surface2-hsl: hsl(300, 6%, 27%);
	--heart-less-surface2-raw: 73, 65, 73;
	--heart-less-surface1: #3c343c;
	--heart-less-surface1-rgb: rgb(60, 52, 60);
	--heart-less-surface1-hsl: hsl(300, 7%, 22%);
	--heart-less-surface1-raw: 60, 52, 60;
	--heart-less-surface0: #2c252c;
	--heart-less-surface0-rgb: rgb(44, 37, 44);
	--heart-less-surface0-hsl: hsl(300, 9%, 16%);
	--heart-less-surface0-raw: 44, 37, 44;
	--heart-less-base: #2a222a;
	--heart-less-base-rgb: rgb(42, 34, 42);
	--heart-less-base-hsl: hsl(300, 11%, 15%);
	--heart-less-base-raw: 42, 34, 42;
	--heart-less-mantle: #221c22;
	--heart-less-mantle-rgb: rgb(34, 28, 34);
	--heart-less-mantle-hsl: hsl(300, 10%, 12%);
	--heart-less-mantle-raw: 34, 28, 34;
	--heart-less-crust: #181618;
	--heart-less-crust-rgb: rgb(24, 22, 24);
	--heart-less-crust-hsl: hsl(300, 4%, 9%);
	--heart-less-crust-raw: 24, 22, 24;
	/* Heartful */
    /* https://coolors.co/ceb1cc-bb9bb9-a47ea2-8c6488-7a5777-6b4d6b-513951-422e42-312131-2f1e2f
    https://coolors.co/a1819f-876985-765b74-675067-4e3c4e-412f41-302230-2e1f2e-241924-1a141a */
	--heart-ful-text: #cdb1cc;
	--heart-ful-text-rgb: rgb(205, 177, 204);
	--heart-ful-text-hsl: hsl(304, 22%, 75%);
	--heart-ful-text-raw: 205, 177, 204;
	--heart-ful-subtext1: #b99cb7;
	--heart-ful-subtext1-rgb: rgb(185, 156, 183);
	--heart-ful-subtext1-hsl: hsl(304, 17%, 67%);
	--heart-ful-subtext1-raw: 185, 156, 183;
	--heart-ful-subtext0: #a1819f;
	--heart-ful-subtext0-rgb: rgb(161, 129, 159);
	--heart-ful-subtext0-hsl: hsl(303, 15%, 57%);
	--heart-ful-subtext0-raw: 161, 129, 159;
	--heart-ful-overlay2: #876985;
	--heart-ful-overlay2-rgb: rgb(135, 105, 133);
	--heart-ful-overlay2-hsl: hsl(306, 13%, 47%);
	--heart-ful-overlay2-raw: 135, 135, 133;
	--heart-ful-overlay1: #765b74;
	--heart-ful-overlay1-rgb: rgb(118, 91, 116);
	--heart-ful-overlay1-hsl: hsl(305, 13%, 41%);
	--heart-ful-overlay1-raw: 118, 91, 116;
	--heart-ful-overlay0: #675067;
	--heart-ful-overlay0-rgb: rgb(103, 80, 103);
	--heart-ful-overlay0-hsl: hsl(300, 13%, 36%);
	--heart-ful-overlay0-raw: 103, 80, 103;
    --heart-ful-surface2: #4e3c4e;
	--heart-ful-surface2-rgb: rgb(78, 60, 78);
	--heart-ful-surface2-hsl: hsl(300, 13%, 27%);
	--heart-ful-surface2-raw: 78, 60, 78;
	--heart-ful-surface1: #412f41;
	--heart-ful-surface1-rgb: rgb(65, 47, 65);
	--heart-ful-surface1-hsl: hsl(300, 16%, 22%);
	--heart-ful-surface1-raw: 65, 47, 65;
	--heart-ful-surface0: #302230;
	--heart-ful-surface0-rgb: rgb(48, 34, 48);
	--heart-ful-surface0-hsl: hsl(300, 17%, 16%);
	--heart-ful-surface0-raw: 48, 34, 48;
	--heart-ful-base: #2e1f2e;
	--heart-ful-base-rgb: rgb(46, 31, 46);
	--heart-ful-base-hsl: hsl(300, 19%, 15%);
	--heart-ful-base-raw: 46, 31, 46;
	--heart-ful-mantle: #241924;
	--heart-ful-mantle-rgb: rgb(36, 25, 36);
	--heart-ful-mantle-hsl: hsl(300, 18%, 12%);
	--heart-ful-mantle-raw: 36, 25, 36;
	--heart-ful-crust: #1a141a;
	--heart-ful-crust-rgb: rgb(26, 20, 26);
	--heart-ful-crust-hsl: hsl(300, 13%, 9%);
	--heart-ful-crust-raw: 26, 20, 26;
}
